body {
	overflow-x:hidden;
	display: grid;
	width:100%;
	grid-auto-rows: minmax(100px, auto);
	background-color: var(--background);
	color: var(--text);
}

@media (min-aspect-ratio: 4/3) {
	body {
		grid-template-columns: repeat(4, 24.7%);
	}
}

@media (max-aspect-ratio: 4/3) {
	body {
		grid-template-columns: repeat(4, 23.7%);
	}
}

header {
	grid-column: 1 / 5;
	grid-row: 1;
	padding-bottom:15px;
	padding-left: 1%;
	background-color: var(--header);
}

header h1 a {
	text-decoration:none;
	color: var(--title);
}

header h1 a:visited {
	text-decoration:none;
	color: var(--title);
}

@media (min-aspect-ratio: 4/3) {
	.article-page main {
		grid-column: 2 / 4;
		grid-row:2;
	}
}

@media (max-aspect-ratio: 4/3) {
	.article-page main {
		grid-column: 1 / 4;
		grid-row:2;
	}
}

@media (min-aspect-ratio: 4/3) {
	.search-results-page main {
		grid-column: 2 / 4;
		grid-row: 4;
	}
}

@media (max-aspect-ratio: 4/3) {
	.search-results-page main {
		grid-column: 1 / 4;
		grid-row: 4;
	}
}

.article-page footer {
	grid-row: 4;
}

.search-results-page footer {
	grid-row: 6;
}

footer {
	grid-column: 1 / 5;
	text-align: center;
	color: var(--footer-text);
}

.navbar {
	display:inline;
	color: var(--header-text);
}

a.navbar {
	color: var(--header-text);
}

a.navbar:visited {
	color: var(--header-text);
}

.lead-image {
	grid-column: 1 / 5;
	grid-row: 2 / 4;
	height: 100%;
}

@media (min-aspect-ratio: 4/3) {
	.lead-image {
		width: 75%;
		transform: translate(12.5%);
	}
}

@media (max-aspect-ratio: 4/3) {
	.lead-image {
		width: 96%;
	}
}
